{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h2 class="mt-4">Каталог товаров</h2>
        <div class="row mb-3">
            <div class="col-md-4 themed-grid-col"><strong>Название</strong></div>
            <div class="col-md-4 themed-grid-col"><strong>Поставщик</strong></div>
            <div class="col-md-4 themed-grid-col"><strong>Цена</strong></div>
            {% for obj in object_list %}
                <div class="col-md-4 themed-grid-col">{{ obj.title }}</div>
                <div class="col-md-4 themed-grid-col">{{ obj.vendor }}</div>
                <div class="col-md-4 themed-grid-col">{{ obj.price }}</div>
            {% endfor %}
        </div>

        <a href="/add"> <button type="button" class="btn btn-primary">Добавить</button></a>

    </div>

{% endblock content %}